.profile-image {
    width: 95%;
    border-radius: 2em;
    box-shadow: 2px 5px gray;
    margin: auto;
}

body {}

.bg-dark {
    background-color: #F20D46 !important;
}

.navbar-dark {
    --bs-navbar-color: #0DF2B9;
    --bs-navbar-hover-color: #fff;
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    font-size: 1.2em;
}

.text-left {
    text-align: justify;
}

.banner {
    margin: 1em auto;
    padding: 2.5em;
    height: 400px;
    background-color: rgba(13, 242, 185, .8);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.banner-img {
    width: fit-content;
    margin: 1em auto;
}